{% extends 'yararule/base.html' %}

{% block content %}

    {% if rules %}
        <ul>
        {% for rules in rules %}
            <li>{{ rules.docfile.name }}</li>
            <li>{{ rules.tags.id }}</li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No rules.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="http://127.0.0.1:8000/yararule/addrules/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Upload" /></p>
        </form>

{% endblock %}
    