{% extends 'yararule/base.html' %}

{% block content %}

<!-- Qjouter les regles -->
<div class="col-sm-4 text-center">
    <p>
        <form action="http://127.0.0.1:8000/yararule/addrules/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} {{ message }}
           <input type="submit" value="Ajouter" /> <br>
           ou Afficher la <a href="http://127.0.0.1:8000/yararule/"> liste</a>
        </form>
    </p><br>
    <br>
    <br>
    <!-- Ajouter de nouveaux tags -->
    <p>
        {% include 'yararule/Add_tags.html' %}</p>
    </p>
</div>


        <!-- Upload form. Note enctype attribute! -->
        

{% endblock %}
    